{{ book.title }} {% if book.authors %}- {{ book.authors[0].name }}{% endif %}
======================================

.. panels::

   {% if book.covers %}
   .. image:: https://covers.openlibrary.org/b/id/{{book.covers[0]}}-L.jpg
      :alt: cover
   
   ---
   {% endif %}

   Information:
   ^^^^^^^^^^^^

   - ISBN 10: {{ book.isbn_10 }}
   - ISBN 13: {{ book.isbn_13 }}
   - Editeur: {{ book.publishers }}
